<data-wells-nav></data-wells-nav>
<header id="page-top" class="bg-water">
    <div class="header-content">
        <img [@pulse]="'active'" [src]="logo" class="img-responsive img-center">
        <div class="company-name">DataWells</div>
    </div>
</header>
<data-wells-about></data-wells-about>
<div class="scroll-me">
    <a class="btn btn-scroll-down" pageScroll href="#skills"></a>
</div>
<aside class="bg-water-fixed" (mouseenter)="toggle('fadeInLeft')">
    <div class="first quote" [@fadeInLeft]="fadeInLeft">
        All things will be produced in superior quantity and quality...
    </div>
</aside>
<data-wells-skills></data-wells-skills>
<div class="scroll-me">
    <a class="btn btn-scroll-down" pageScroll href="#contact"></a>
</div>
<aside class="bg-water-fixed" (mouseenter)="toggle('fadeInRight')">
    <div class="second quote" [@fadeInRight]="fadeInRight">
        ...and with greater ease, when each man works at a single occupation...
    </div>
</aside>
<data-wells-contact></data-wells-contact>
<footer class="bg-water-fixed" (mouseenter)="toggle('fadeInUp')">
    <div class="container text-center">
        <div class="quote" [@fadeInUp]="fadeInUp">...in accordance with his natural gifts - Plato</div>
        <p>&copy; {{ currentYear }} DataWells</p>
    </div>
</footer>