<data-wells-nav></data-wells-nav>
<header id="page-top" class="bg-water">
    <div class="header-content">
        <img [@pulse]="'active'" [src]="logo" class="img-responsive img-center">
        <div class="company-name">DataWells</div>
    </div>
</header>
<data-wells-about></data-wells-about>
<div class="scroll-me">
    <a class="btn btn-scroll-down" pageScroll href="#skills"></a>
</div>
<aside class="bg-water-fixed">
</aside>
<data-wells-skills></data-wells-skills>
<div class="scroll-me">
    <a class="btn btn-scroll-down" pageScroll href="#contact"></a>
</div>
<aside class="bg-water-fixed">
</aside>
<data-wells-contact></data-wells-contact>
<footer class="bg-water-fixed">
    <div class="container text-center">
        <div class="quote">All things will be produced in superior quantity and quality when each man works at a single occupation in accordance with his natural gifts - Plato</div>
        <p>&copy; {{ currentYear }} DataWells</p>
    </div>
</footer>