<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-center">
                <li>
                    <a href="#page-top">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
                <li class="navbar-brand">
                    <a href="#page-top">
                        <img src="../../assets/images/logo.png" class="img-responsive img-logo-small">
                    </a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li>
                    <a href="#">Github</a>
                </li>
                <li>
                    <a href="#">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="page-top" class="bg-code">
    <div class="header-content">
        <img src="../../assets/images/logo.png" class="img-responsive img-center">
    </div>
</header>
<div class="fixed-company-name">DataWells</div>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="text-uppercase text-bold">Caleb Wells</h1>
                <hr class="separator-double">
                <p>
                    I am a <span title="/web/ noun A complex system of interconnected elements; short for World Wide Web" class="text-highlight">web</span>
                    designer and developer in New Orleans, Louisiana. I have a professional background in web development, and a degree in Graphic Design from Delta State University.
                </p>
                <p>
                    Finding the right balance of form and function is what I do. If you need
                    <span title="/help/ noun The action of helping someone to do something; assistance" class="text-highlight">help</span> building
                    a good looking, well performing website let me <span title="Contact Me" class="text-highlight"><a href="#contact">know</a></span>.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="scroll-me">
    <a class="btn btn-scroll-down" href="#skills"></a>
</div>
<aside class="bg-design">
    <span class="quote">
        All things will be produced in superior quantity and quality...
    </span>
</aside>
<section id="skills">
    <div class="container text-center">
        <h1>Skills &amp; Tools</h1>
        <hr class="separator-double">
        <p>Here are some skills and tools that I use on a regular basis.</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="skill">
                    <img src="../../assets/images/skills/skill-dotnet.jpg" title=".NET">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-angular2.jpg" title="Angular 2">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-typescript.jpg" title="TypeScript">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-ps.jpg" title="Photoshop">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-rxjs.jpg" title="RxJS">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-webpack.jpg" title="Webpack">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-html5.jpg" title="HTML 5">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-css3.jpg" title="CSS 3">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-javascript.jpg" title="JavaScript">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-json.jpg" title="JSON">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-mdl.jpg" title="Material Design Lite">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-bootstrap.jpg" title="Bootstrap">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-ef.jpg" title="Entity Framework">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-sql.jpg" title="SQL">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-npm.jpg" title="NPM">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-git.jpg" title="Git">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-sourcetree.jpg" title="Source Tree">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-github.jpg" title="Github">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-azure.jpg" title="Azure">
                </div>
            </div>
        </div>
        <br />
        <hr class="separator-double">
        <p>Below are skills and tools that I am familiar with but don't use on a regular basis.</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="skill">
                    <img src="../../assets/images/skills/skill-xml.jpg" title="XML">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-jquery.jpg" title="JQuery">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-node.jpg" title="NodeJS">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-react.jpg" title="React">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-aurelia.jpg" title="Aurelia">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-breeze.jpg" title="Breeze">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-flux.jpg" title="Flux">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-knockout.jpg" title="Knockout">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-less.jpg" title="Less">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-sass.jpg" title="Sass">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-aws.jpg" title="AWS">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-docker.jpg" title="Docker">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-bower.jpg" title="Bower">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-gulp.jpg" title="gulp">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-jira.jpg" title="JIRA">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-bitbucket.jpg" title="BitBucket">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-apache.jpg" title="Apache">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-mysql.jpg" title="MySQL">
                </div>
                <div class="skill">
                    <img src="../../assets/images/skills/skill-nhibernate.jpg" title="NHibernate">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="scroll-me">
    <a class="btn btn-scroll-down" href="#contact"></a>
</div>
<aside class="bg-html">
    <span class="quote">
        ...and with greater ease, when each man works at a single occupation...
    </span>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="separator-double">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-6 col-lg-offset-3">
                <form>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email Address</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPhoneNumber">Phone Number</label>
                        <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Name</label>
                        <textarea rows="4" class="form-control" id="inputMessage" placeholder="Message" required></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-highlight">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="bg-code">
    <div class="container text-center">
        <span>...in accordance with his natural gifts - Plato</span>
        <p>&copy; 2017</p>
    </div>
</footer>