@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

body {
    height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

hr {
    height: 3px;
}

.separator-double {
    border-top: 1px solid #0078f0;
    border-bottom: 1px solid #0078f0;
    max-width: 300px;
}

.img-center {
    margin: 0 auto;
}

.img-logo-small {
    width: 75px;
    height: 73px;
}

.scroll-me {
    position: relative;
    z-index: 5;
}

.btn-scroll-down, .btn-scroll-down:active {
    position: absolute;
    top: -32px;
    left: 48.5%;
    height: 60px;
    width: 60px;
    background: url(../images/btn-scroll-arrow.png) no-repeat;
    box-shadow: none;
}

    .btn-scroll-down:hover {
        height: 60px;
        width: 60px;
        background: url(../images/btn-scroll-arrow-hover.png) no-repeat;
        box-shadow: none;
    }

.btn-highlight {
    float: right;
    color: #fff;
    background-color: #0078f0;
    border: 1px solid #0078f0;
}

    .btn-highlight:hover, .btn-highlight:active {
        background-color: #fff;
        color: #0078f0;
        border: 1px solid #0078f0;
    }

a {
    color: #0078f0;
}

    a:hover {
        color: #00376f;
    }

p {
    font-size: 18px;
}

.text-highlight {
    color: #0078f0;
}

.text-bold {
    font-weight: 700;
}

.navbar-inverse {
    background-color: #00376f;
    height: 50px;
    border: none;
}

.navbar-header .navbar-brand {
    display: none;
}

.navbar-center {
    float: none;
    padding-left: 50px;
    position: relative;
    top: -20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

    .navbar-center .navbar-brand {
        top: -40px;
        height: 50px;
        padding: 15px 0 15px 15px;
    }

    .navbar-center li {
        display: inline-block;
        float: none;
    }

        .navbar-center li:hover:before {
            height: 5px;
            width: 100%;
            display: block;
            content: " ";
            top: 5px;
            left: 0;
            position: inherit;
            background: #0078f0;
            border-top: 1px solid #fff;
        }

    .navbar-center .navbar-brand:hover:before {
        height: 0;
        background: none;
        border-top: none;
    }

.navbar-inverse .navbar-center li a {
    color: #fff;
}

header {
    position: relative;
    display: block;
    width: auto;
    height: 550px;
    background-color: #00376f;
    padding: 40px 0;
    z-index: 1;
}

.header-content {
    position: fixed;
    width: 100%;
    height: 100%;
}

    .header-content img {
        max-width: 400px;
        max-height: 387px;
    }

.company-name {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

aside {
    position: relative;
    z-index: 2;
    background: #00376f;
    height: 125px;
}

section {
    background: #fff;
    padding: 50px 0 100px 0;
    position: relative;
    z-index: 4;
}

.bg-design {
    background: url(../images/bg-design.jpg) repeat;
    background-attachment: fixed;
}

.quote {
    color: #fff;
    font-weight: bold;
}

.first.quote {
    background-color: #00376f;
    padding: 2px 5px 2px 150px;
    position: absolute;
    top: 50px;
}

.second.quote {
    background-color: #00376f;
    padding: 2px 130px 2px 5px;
    position: absolute;
    right: 0;
    top: 50px;
}

.skill {
    width: 23%;
    margin: 1%;
    float: left;
    overflow: hidden;
}

    .skill img {
        max-width: 100%;
        position: relative;
    }

footer {
    position: relative;
    z-index: 2;
    background: #00376f;
    height: 200px;
}

    footer .container {
        color: #fff;
        font-weight: bold;
        position: relative;
        top: 30px;
    }

    footer p {
        padding-top: 20px;
    }

    footer .quote {
        background: #00376f;
        padding: 5px;
        margin: 0 auto;
        width: 400px;
    }

@media screen and (max-width: 768px) {
    .navbar-toggle {
        border: none !important;
    }

        .navbar-toggle:active,
        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: #0078F0 !important;
        }

    .navbar-inverse .navbar-collapse {
        border-color: #002142;
    }

    .navbar-collapse {
        position: absolute;
        bottom: 50px;
        width: 100%;
        background-color: #00376f;
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 0 1px rgba(0, 33, 66, .1);
    }

    .navbar-header .navbar-brand {
        display: inherit;
        position: absolute;
        top: -10px;
        left: -10px;
    }

    .navbar-center {
        padding-left: 0;
        top: 0;
    }

        .navbar-center .navbar-brand {
            display: none;
        }

        .navbar-center li {
            display: block;
        }

            .navbar-center li a:hover {
                color: #0078F0 !important;
            }

            .navbar-center li:hover:before {
                display: none;
            }

    header {
        height: 450px;
    }

    .header-content img {
        max-width: 300px;
        max-height: 290px;
    }

    .company-name {
        color: #fff;
        font-size: 50px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
    }

    .img-logo-small {
        width: 40px;
        height: 39px;
    }

    .btn-scroll-down {
        left: 43%;
    }

    .first.quote,
    .second.quote,
    footer .quote {
        position: relative;
        margin: 0 auto;
        padding: 4px 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    footer .container {
        padding: 0;
    }
}
