@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");

images {
    background-image: url(../images/logo.png),
                      url(../images/data-wells-loading.gif),
                      url(../images/skills/skill-dotnet.jpg),
                      url(../images/skills/skill-angular2.jpg),
                      url(../images/skills/skill-typescript.jpg),
                      url(../images/skills/skill-ps.jpg),
                      url(../images/skills/skill-rxjs.jpg),
                      url(../images/skills/skill-webpack.jpg),
                      url(../images/skills/skill-html5.jpg),
                      url(../images/skills/skill-css3.jpg),
                      url(../images/skills/skill-javascript.jpg),
                      url(../images/skills/skill-json.jpg),
                      url(../images/skills/skill-mdl.jpg),
                      url(../images/skills/skill-bootstrap.jpg),
                      url(../images/skills/skill-ef.jpg),
                      url(../images/skills/skill-sql.jpg),
                      url(../images/skills/skill-npm.jpg),
                      url(../images/skills/skill-git.jpg),
                      url(../images/skills/skill-sourcetree.jpg),
                      url(../images/skills/skill-github.jpg),
                      url(../images/skills/skill-azure.jpg),
                      url(../images/skills/skill-xml.jpg),
                      url(../images/skills/skill-jquery.jpg),
                      url(../images/skills/skill-node.jpg),
                      url(../images/skills/skill-react.jpg),
                      url(../images/skills/skill-aurelia.jpg),
                      url(../images/skills/skill-breeze.jpg),
                      url(../images/skills/skill-flux.jpg),
                      url(../images/skills/skill-knockout.jpg),
                      url(../images/skills/skill-less.jpg),
                      url(../images/skills/skill-sass.jpg),
                      url(../images/skills/skill-aws.jpg),
                      url(../images/skills/skill-docker.jpg),
                      url(../images/skills/skill-bower.jpg),
                      url(../images/skills/skill-gulp.jpg),
                      url(../images/skills/skill-jira.jpg),
                      url(../images/skills/skill-bitbucket.jpg),
                      url(../images/skills/skill-apache.jpg),
                      url(../images/skills/skill-mysql.jpg),
                      url(../images/skills/skill-nhibernate.jpg);
}

body {
    height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

hr {
    height: 3px;
}

.separator-double {
    border-top: 1px solid #0078f0;
    border-bottom: 1px solid #0078f0;
    max-width: 300px;
}

.img-center {
    margin: 0 auto;
}

.img-logo-small {
    width: 75px;
    height: 73px;
}

.scroll-me {
    position: relative;
    z-index: 5;
}

.btn-scroll-down, .btn-scroll-down:active {
    position: absolute;
    top: -32px;
    left: 48.3%;
    height: 60px;
    width: 60px;
    background: url(../images/btn-scroll-arrow.png) no-repeat;
    box-shadow: none;
}

    .btn-scroll-down:hover {
        height: 60px;
        width: 60px;
        background: url(../images/btn-scroll-arrow-hover.png) no-repeat;
        box-shadow: none;
    }

.btn-highlight {
    float: right;
    color: #fff;
    background-color: #00376f;
    border: 1px solid #00376f;
}

    .btn-highlight:hover, .btn-highlight:active {
        background-color: #0078f0;
        color: #FFF;
        border: 1px solid #0078f0;
    }

    .btn-highlight[disabled]:hover {
        background-color: #00376f;
        border: 1px solid #00376f;
    }

a {
    color: #0078f0;
}

    a:hover {
        color: #00376f;
    }

p {
    font-size: 18px;
}

.text-highlight {
    color: #0078f0;
}

.text-bold {
    font-weight: 700;
}

.navbar-inverse {
    background-color: #00376f;
    height: 50px;
    border: none;
}

.navbar-header .navbar-brand {
    display: none;
}

.navbar-center {
    float: none;
    padding-left: 50px;
    position: relative;
    top: -20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

    .navbar-center .navbar-brand {
        top: -40px;
        height: 50px;
        padding: 15px 0 15px 15px;
    }

        .navbar-center .navbar-brand a {
            padding-left: 5px;
        }

    .navbar-center li {
        display: inline-block;
        float: none;
    }

        .navbar-center li:hover:before {
            height: 5px;
            width: 100%;
            display: block;
            content: " ";
            top: 6px;
            left: 0;
            position: inherit;
            background: #0078f0;
        }

    .navbar-center .navbar-brand:hover:before {
        height: 0;
        background: none;
        border-top: none;
    }

.navbar-inverse .navbar-center li a {
    color: #fff;
}

header {
    position: relative;
    display: block;
    width: auto;
    height: 550px;
    background-color: #00376f;
    padding: 40px 0;
    z-index: 1;
}

.header-content {
    position: fixed;
    width: 100%;
    height: 100%;
}

    .header-content img {
        max-width: 400px;
        max-height: 387px;
    }

.company-name {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

aside {
    position: relative;
    z-index: 2;
    background: #00376f;
    height: 100px;
    overflow: hidden;
}

section {
    background: #fff;
    padding: 50px 0 100px 0;
    position: relative;
    z-index: 4;
}

.bg-water {
    background: url(../images/bg-water.jpg) no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
}

.bg-water-fixed {
    background: url(../images/bg-water.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

ul.skills {
    position: relative;
    list-style-type: none;
}

.skills li {
    position: relative;
    float: left;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    width: 17%;
    margin: 1%;
    cursor: pointer;
}

    .skills li a {
        color: #FFF;
    }

.skill-image, .skill-info {
    float: left;
    margin-right: -3px;
    overflow: hidden;
}

.skill-info {
    background-color: #00376f;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 29% 0 29% 0;
}

.contact-form {
    position: relative;
    z-index: 2;
    padding: 5px;
    background-color: #FFF;
}

    .contact-form em {
        float: right;
        color: #E52933;
    }

.contact-sent:before {
    content: "";
    display: inline-block;
    height: 30%;
    vertical-align: middle;
}

.contact-sent {
    position: absolute;
    top: 1px;
    left: 15px;
    z-index: 1;
    height: 99%;
    width: 94.9%;
    margin: auto 0;
    background-color: #002142;
    color: #FFF;
    text-align: center;
}

    .contact-sent p {
        width: 82%;
        margin: 0 auto;
    }

footer {
    position: relative;
    z-index: 4;
    background: #00376f;
    height: 250px;
}

    footer .container {
        color: #fff;
        font-weight: bold;
        position: relative;
        top: 30px;
    }

    footer p {
        padding-top: 20px;
    }

    footer .quote {
        color: #fff;
        font-weight: bold;
        padding: 5px;
        margin: 0 auto;
        width: 60%;
    }

@media screen and (max-width: 1200px) {
    .skills li {
        font-size: 10px;
    }

    .skill-image img {
        width: 127px;
    }

    .skill-info {
        height: 95px;
    }
}

@media screen and (max-width: 1000px) {
    .skill-image img {
        width: 95px;
    }

    .skill-info {
        height: 69px;
        padding: 16% 0 16% 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-toggle {
        border: none !important;
    }

        .navbar-toggle:active,
        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background-color: #0078F0 !important;
        }

    .navbar-inverse .navbar-collapse {
        border-color: #002142;
    }

    .navbar-collapse {
        position: absolute;
        bottom: 50px;
        width: 100%;
        background-color: #00376f;
        border-bottom: 1px solid transparent;
        box-shadow: inset 0 0 1px rgba(0, 33, 66, .1);
    }

    .navbar-header .navbar-brand {
        display: inherit;
        position: absolute;
        top: -10px;
        left: -10px;
    }

    .navbar-center {
        padding-left: 0;
        top: 0;
    }

        .navbar-center .navbar-brand {
            display: none;
        }

        .navbar-center li {
            display: block;
        }

            .navbar-center li a:hover {
                color: #0078F0 !important;
            }

            .navbar-center li:hover:before {
                display: none;
            }

    header {
        height: 450px;
    }

    .header-content img {
        max-width: 300px;
        max-height: 290px;
    }

    .company-name {
        font-size: 50px;
    }

    .img-logo-small {
        width: 40px;
        height: 39px;
    }

    .btn-scroll-down {
        left: 43%;
    }

    .skills li {
        width: 28%;
    }

    .skill-image img {
        width: 100px;
    }

    .contact-form {
        width: 101%;
    }

    .contact-sent {
        width: 90%;
        left: 20px;
    }

    footer .quote {
        font-size: 13px;
    }

    footer .container {
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .skills li {
        font-size: 7px;
    }

    .skill-image img {
        width: 69px;
    }

    .skill-info {
        height: 52px;
        padding: 18% 0 18% 0;
    }
}

@media screen and (max-width: 380px) {
    .skills li {
        font-size: 6px;
    }

    .skill-image img {
        width: 54px;
    }

    .skill-info {
        padding: 29% 0 29% 0;
    }

    .contact-form {
        width: 102%;
    }
}
