<data-wells-app>
    <div style="position: relative; margin: 0 auto; color: #0078F0; height: 100px; width: 100px;">
        <div style="position: absolute; top: 200%;">
            <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</data-wells-app>
