<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="text-uppercase text-bold">Caleb Wells</h1>
                <hr class="separator-double">
                <p>
                    I am a web
                    designer and developer in New Orleans, Louisiana. I have a <span title="LinkedIn" class="text-highlight"><a href="https://www.linkedin.com/in/calebcwells" target="_blank">professional background</a></span> in web development, and a degree in Graphic Design from Delta State University.
                </p>
                <p>
                    Finding the right balance of form and function is what I do. If you need help building
                    a good looking, well performing website <span title="Contact Me" class="text-highlight"><a href="#contact">let me know</a></span>.
                </p>
            </div>
        </div>
    </div>
</section>
