<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="text-uppercase text-bold">Caleb Wells</h1>
                <hr class="separator-double">
                <p>
                    I am a <span title="/web/ noun A complex system of interconnected elements; short for World Wide Web" class="text-highlight">web</span>
                    designer and developer in New Orleans, Louisiana. I have a professional background in web development, and a degree in Graphic Design from Delta State University.
                </p>
                <p>
                    Finding the right balance of form and function is what I do. If you need
                    <span title="/help/ noun The action of helping someone to do something; assistance" class="text-highlight">help</span> building
                    a good looking, well performing website let me <span title="Contact Me" class="text-highlight"><a href="#contact">know</a></span>.
                </p>
            </div>
        </div>
    </div>
</section>
